<!doctype html>
<html lang="en">
	<head>
	<title>Intercom Admin Tools</title>
	<meta charset="utf-8">
		<style type="text/css">
			body {
				max-width: 800px;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<header>
			<h1>Intercom Admin Tools</h1>
			<nav>
				<ul>
					<li><a href="./conversation">Export Conversation Transcript</a></li>
					<li><a href="./conversation_reassignment">Conversation Reassignment/Closure</a></li>
					<li><a href="./unsubscribe">Bulk Update Unsubscribe Status</a></li>
					<li><a href="./person">Add / Edit Person Record (User/Lead/Visitor)</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<%= yield %>
		</section>
	</body>
</html>